<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Login page</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h2>ログイン画面</h2>
<form th:action="@{/login}" method="post">
    <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
            class="alert">
        <span th:text="ユーザIDまたはパスワードに誤りがあります"></span>
    </div>
    <div style="width:160px;"><label for="userid">ユーザID：</label></div>
    <input type="text" name="userid" autofocus="autofocus" />
    <br/>
    <div style="width:160px;"><label for="password">パスワード：</label></div>
    <input type="password" name="password" />
    <br/>
    <p><input type="submit" value="ログイン" /></p>
</form>
</body>
</html>